body{
    background-color:  white;
    color: white;
}
.menu-card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: black;
 
  border-radius: 60px;
  box-shadow: 0px 0px 20px 0px black;
}
.navbar-nav .nav-link:hover {
  transform: scale(1.1);
}


.grid-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}
.grid-1, .grid-2 {
  text-align: center;
}
h2{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color:white ;

}
h3{
    color: white;
}
p{
    color: white;
}
.row a{
font-size: 24px;
color: white;
border: 2px solid #344955;
width: 40px;
height: 40px;
line-height: 38px;
display: inline-block;
text-align: center;
border-radius: 50%;
margin: 0 8px;
box-shadow: inset 0 0 10px #272525, 0 0 10px #272525;
transition: 0.3s ease; 
}
.row a:hover{
   transform: scale(1.2)translateY(-10px);
color: white;
border: 2px solid black;
} 
.social1{
text-align: center;
}
.container1 mt-4{
text-align: center;
} 

.main-img{
    height: auto;
    max-width: 100%;
    margin-bottom: 30px;
}
.main-body{
 
    width: 100%;
    margin-top: 90px; 
}
.card1:hover{
    background-color: #344955;
}


h2{
    background-color: #344955;
    color: white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    box-shadow: 5px 5px 15px 5px black;
}
.grid-container1 {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 10px;
}

.grid-item {
padding: 20px;
text-align: center;
}

@media (max-width: 768px) {
.grid-container1 {
grid-template-columns: 1fr;
}
}