<!--navbar starts here  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Sneh Animal Welfare Society</a> -->
   <img src="assets/logo.jpg" style="width: 70px; height: 60px; margin-bottom: 18px;">
   <h1 style="color: yellowgreen; font-family: Papyrus; ">Tannu Medical Store</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a routerLink="/my-dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Dashboard</a>
          </li>
          
          <li class="nav-item">
              <a href="/services" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Services</a>
          </li>
          
          <li class="nav-item">
              <a href="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Contact</a>
          </li>
          
      </ul>
  </div>
</nav>
<!-- navbar ends here  -->

<div class="main-body">

  <div class="container1 mt-4">
      <div class="row">
          <div  data-aos="zoom-in-up"
          class="col-lg-4 col-md-6">
              <div class="menu-card card1 " >
                  <h3 >Dr. Manoj Shekhawat</h3>
                  
                  
                      <img src="assets/manoj.jpg" alt="founder's photo" style="width: 100%;">
                      <div class="social1">
                     <a href="mailto:manojshekhawat17@gmail.com"><i class="fa-regular fa-envelope"></i></a>
                  <a href="tel:+91 7027648710"><i class="fa-solid fa-phone"></i></a>
                  <!-- <a href="https://www.linkedin.com/in/samundr-sheoran-a0849b283"><i class="fa-brands fa-linkedin"></i></a> -->
                    </div>
                  
              </div>
          </div>
          
          <div data-aos="zoom-in-up"
          class="col-lg-4 col-md-6">
              <div class="menu-card card1 ">
                  <h3 >Mr. Nishant Tanwar</h3>
                  <img src="assets/nishant.jpg" alt="co-founder" style="width: 100%;">
                  <div class="social1">
                 <a href="mailto:"><i class="fa-regular fa-envelope"></i></a>
                  <a href="tel:+91 9813589875"><i class="fa-solid fa-phone"></i></a>
                  <!-- <a href="https://www.linkedin.com/in/samundr-sheoran-a0849b283"><i class="fa-brands fa-linkedin"></i></a> -->
              
              </div></div>
          </div>
          
          
      </div>
  </div>

</div>




<footer>
    <div class="footer-content">
     
      <div class="footer-section">
       
        <h3 style="color: yellowgreen">Contact Information</h3>
        <ul>
          <li><i class="fa-solid fa-location-dot"></i> &nbsp;Address: Tannu Medical Hall , Hetampura, Bhiwani (Haryana).
          </li>
          <li><i class="fa-solid fa-phone-volume"></i> &nbsp;Phone: +91 70276 48710</li>
          <li><i class="fa-solid fa-envelope"></i> &nbsp;Email: <a href="mailto:manojshekhawat&#64;gmail.com">manojshekhawat&#64;gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h3 style="color: yellowgreen">Quick Links</h3>
        <ul>
          <li><i class="fa-solid fa-diamond-turn-right"></i><a href="#"> &nbsp;Directions to Society</a></li>
          <li><i class="fa-solid fa-handshake"></i><a href="#"> &nbsp;Be a member</a></li>
          <li><i class="fa-solid fa-user-group"></i><a href="#"> &nbsp;contact website developers</a></li>

        </ul>
      </div>
      <div class="footer-section">
        <h3 style="color: yellowgreen">Social Media</h3>
        <ul>
          <li><i class="fa-brands fa-facebook"></i><a href="#"
              target="_blank"> &nbsp;Facebook</a></li>
          <li><i class="fa-brands fa-twitter"></i><a href="#" target="_blank"> &nbsp;Twitter</a>
          </li>
          <li><i class="fa-brands fa-instagram"></i><a href="#"
              target="_blank"> &nbsp;Instagram</a></li>
        </ul>
        
      </div>
    </div>
    <div class="copyright">
      <p>&copy; Copyright 2024 Tannu Medical Hall. All rights reserved.</p>
    </div>
    <div>
      <!-- <p> Managed by Samundr, Tannu.</p> -->
    </div>
  </footer>