/* General styling for the body to center content */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
}

/* Styling for the main div to center content within it */
#main {
    display: flex;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Specific styling for the error message */
.fof {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the error message text */
.fof h1 {
    font-size: 72px;
    margin: 0;
    color: #333;
    text-shadow: 2px 2px 0 #aaa;
}
