<!--navbar starts here  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">Sneh Animal Welfare Society</a> -->
   <img src="assets/logo.jpg" style="width: 70px; height: 60px; margin-bottom: 18px;">
   <h1 style="color: yellowgreen; font-family: Papyrus; ">Tannu Medical Store</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a routerLink="/my-dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Dashboard</a>
          </li>
          
          <li class="nav-item">
              <a href="/services" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Services</a>
          </li>
          
          <li class="nav-item">
              <a href="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Contact</a>
          </li>
          
      </ul>
  </div>
</nav>
<!-- navbar ends here  -->


<div class="grid-container">
  <div  data-aos="flip-up"
  class="grid-item mission">
    <h2>Our Mission</h2>
    <p style="margin-top: 40px;">Our mission is to catch the Stray dogs of the city which is choosen under a mission. We vaccinate and sterilize them and leave those dogs on the same safe place where they can live peacefully.</p>
  </div>
  <div  data-aos="flip-up"
   class="grid-item values">
    <h2>Our Values</h2>
    <p style="margin-top: 40px;">We are recognized with Animal Welfare Board Of India(AWBI) With recognition number - HR 337/ 2021. We provide our genuine services and also we have worked on many projects to control the dogs population.</p>
  </div>
  <div  data-aos="flip-up"
  class="grid-item dream">
    <h2>Our Dream</h2>
    <p style="margin-top: 40px;">It is our dream to control the diseases which are spread because of the stray dogs present all over the INDIA by strelization and vaccinating them against rabies. And also to help the every dog which is suffering from various diseases. </p>
  </div>
  <div  data-aos="flip-up"
  class="grid-item goals">
    <h2>Our Goals</h2>
    <p style="margin-top: 40px;">Our goal is to provide the best services from our side so that animals won't be hurted and they feel safe with us. We try our best to keep them happy and keep them away from diseases so that we human also can feel safe around them.</p>
  </div>
</div>





<footer>
    <div class="footer-content">
     
      <div class="footer-section">
       
        <h3 style="color: yellowgreen">Contact Information</h3>
        <ul>
          <li><i class="fa-solid fa-location-dot"></i> &nbsp;Address: Tannu Medical Hall , Hetampura, Bhiwani (Haryana).
          </li>
          <li><i class="fa-solid fa-phone-volume"></i> &nbsp;Phone: +91 70276 48710</li>
          <li><i class="fa-solid fa-envelope"></i> &nbsp;Email: <a href="mailto:manojshekhawat&#64;gmail.com">manojshekhawat&#64;gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h3 style="color: yellowgreen">Quick Links</h3>
        <ul>
          <li><i class="fa-solid fa-diamond-turn-right"></i><a href="#"> &nbsp;Directions to Society</a></li>
          <li><i class="fa-solid fa-handshake"></i><a href="#"> &nbsp;Be a member</a></li>
          <li><i class="fa-solid fa-user-group"></i><a href="#"> &nbsp;contact website developers</a></li>

        </ul>
      </div>
      <div class="footer-section">
        <h3 style="color: yellowgreen">Social Media</h3>
        <ul>
          <li><i class="fa-brands fa-facebook"></i><a href="#"
              target="_blank"> &nbsp;Facebook</a></li>
          <li><i class="fa-brands fa-twitter"></i><a href="#" target="_blank"> &nbsp;Twitter</a>
          </li>
          <li><i class="fa-brands fa-instagram"></i><a href="#"
              target="_blank"> &nbsp;Instagram</a></li>
        </ul>
        
      </div>
    </div>
    <div class="copyright">
      <p>&copy; Copyright 2024 Tannu Medical Hall. All rights reserved.</p>
    </div>
    <div>
      <!-- <p> Managed by Samundr, Tannu.</p> -->
    </div>
  </footer>