

<!--navbar starts here  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Sneh Animal Welfare Society</a> -->
     <img src="assets/logo.jpg" style="width: 70px; height: 60px; margin-bottom: 18px;">
     <h1 style="color: yellowgreen; font-family: Papyrus; ">Tannu Medical Store</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/my-dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Dashboard</a>
            </li>
            
            <li class="nav-item">
                <a href="/services" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Services</a>
            </li>
            
            <li class="nav-item">
                <a href="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Contact</a>
            </li>
            
        </ul>
    </div>
</nav>
<!-- navbar ends here  -->


<!-- <h1 style="font-family: Lucida Handwriting ; color: grey; text-align: center;">Welcome to Tannu Medical Hall</h1> -->

<!-- overlap image starts here -->
<div class="background-container">
    <img src="assets\home.jpg" alt="Background Image" class="background-image">
    <div  data-aos="flip-up"
     class="overlay">
        <h2 style="font-size: xx-large;font-family: Papyrus;">Help Us So That We Can Help Needy Patients</h2>
        <p  style="color: black;">Your small help can save their life and we will be happy if we are able to give them more better services and better treatments</p>
        <button style="background-color: yellowgreen;">Send Help For Patients</button>
    </div>
  </div>
  
<!-- overlap image ends here -->




<div class="body1">

    <div  
    class="card5">
      <div class="card5-content">
          <h2>Hey!! man you must vist Tannu Medical Hall once</h2>
          <p>It's a reliable and well-stocked pharmacy offering a wide range of medical supplies and excellent customer service. Located conveniently in the heart of the city, Tannu Medical Hall is known for its friendly and knowledgeable staff who are always ready to help you find what you need. The pharmacy also offers competitive prices and a clean, organized environment that ensures a pleasant shopping experience. Whether you need prescription medications, over-the-counter drugs, or healthcare products, Tannu Medical Hall has got you covered. Make sure to check out their seasonal discounts and special offers on various health products.</p>
      </div>
      <div class="card5-image">
          <img src="assets/TANNU2.jpg" alt="Card Image 1">
      </div>
  </div>
  <div 
  class="card5">
      <div class="card5-image">
          <img src="assets/TA.jpg" alt="Card Image 2">
      </div>
      <div class="card5-content">
          <h2>He he he!! we are fine now</h2>
          <p>Thanks to Tannu Medical Hall and Dr. Manoj, who provided us with accurate cures and medicines. Their expert advice and dedication to patient care have been invaluable. Dr. Manoj's extensive knowledge and compassionate approach make him a trusted medical professional in our community. The pharmacy's commitment to quality and customer satisfaction is evident in every visit, making it a go-to destination for all our healthcare needs.</p>
      </div>
  </div>
  </div>
  


<div class="container">
    <div 
     class="card3">
        <div class="title">1. Friendly</div>
        <div class="description">First we totally focus and make them to feel safe</div>
    </div>

    <div  
     class="card3">
        <div class="title">2. Vaccinate</div>
        <div class="description">Second we vaccinate them against different types of diseases</div>
    </div>

    <div class="card3"> 
  
        <div class="title">3. Adopt</div>
        <div class="description">Third we adopt them till they are fine to dive into life again</div>
    </div>

    <div class="card3" >
        <div class="title">4. Safe Place</div>
        <div class="description">Lastly we again leave those on free to dive into life of freedom to explore more</div>
    </div>
</div>









<!-- footer starts here  -->
<footer>
    <div class="footer-content">
     
      <div class="footer-section">
       
        <h3 style="color: yellowgreen">Contact Information</h3>
        <ul>
          <li><i class="fa-solid fa-location-dot"></i> &nbsp;Address: Tannu Medical Hall , Hetampura, Bhiwani (Haryana).
          </li>
          <li><i class="fa-solid fa-phone-volume"></i> &nbsp;Phone: +91 70276 48710</li>
          <li><i class="fa-solid fa-envelope"></i> &nbsp;Email: <a href="mailto:manojshekhawat&#64;gmail.com">manojshekhawat&#64;gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h3 style="color: yellowgreen">Quick Links</h3>
        <ul>
          <li><i class="fa-solid fa-diamond-turn-right"></i><a href="#"> &nbsp;Directions to Society</a></li>
          <li><i class="fa-solid fa-handshake"></i><a href="#"> &nbsp;Be a member</a></li>
          <li><i class="fa-solid fa-user-group"></i><a href="#"> &nbsp;contact website developers</a></li>

        </ul>
      </div>
      <div class="footer-section">
        <h3 style="color: yellowgreen">Social Media</h3>
        <ul>
          <li><i class="fa-brands fa-facebook"></i><a href="#"
              target="_blank"> &nbsp;Facebook</a></li>
          <li><i class="fa-brands fa-twitter"></i><a href="#" target="_blank"> &nbsp;Twitter</a>
          </li>
          <li><i class="fa-brands fa-instagram"></i><a href="#"
              target="_blank"> &nbsp;Instagram</a></li>
        </ul>
        
      </div>
    </div>
    <div class="copyright">
      <p>&copy; Copyright 2024 Tannu Medical Hall. All rights reserved.</p>
    </div>
    <div>
      <!-- <p> Managed by Samundr, Tannu.</p> -->
    </div>
  </footer>
